boto3==1.9.80
celery==4.2.1
dj-database-url==0.5.0
django-cors-headers==2.4.0
django-extensions==2.1.4
django-filter==2.0.0
django-health-check==3.8.0
django-picklefield==1.1.0
django-redis==4.10.0
Django==2.1.5
django-fake-model==0.1.4
django_filters==0.2.1
djangorestframework-jwt==1.11.0
djangorestframework==3.9.1
django-countries==5.3.2
eventlet==0.24.1
Faker==1.0.1
gunicorn==19.9.0
ipdb==0.11
model_mommy==1.6.0
parameterized==0.6.1
psycopg2==2.7.6.1
pycryptodome==3.7.2
PyJWT==1.7.1
pytest-cov==2.6.1
pytest-django==3.4.3
pytest-mock==1.10.0
pytest==3.10.1
python-decouple==3.1
pytz==2018.9
raven==6.10.0
redis==2.10.6
retry==0.9.2
unicodecsv==0.14.1
whitenoise==4.1.2
django-cacheops==4.1

# Ormibot
git+ssh://git@github.com/NayaraCaetano/ormibot-brokers.git@1.15.0#egg=ormibot-brokers
